tr
  td.bold   Jira Cycle:
  td  #{cycle}
tr
  td.bold Jira Folder:
  td  #{folder}
tr
  td.bold Passed:
  td  #{pass}
tr
  td.bold Failed:
  td  #{fail}
tr
  td.bold  Skipped:
  td  #{skip}
tr
  td.bold Total:
  td  #{total}